  <div class="container">
    <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-xs-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #localreferencevariable="ngForm">
          <div ngModelGroup="userdata" #userdata="ngModelGroup">
            <div class="form-group">
              <label for="fname">Name:</label>
              <input type="text" name="name" class="form-control" ngModel required #name="ngModel">
              <span class="help-block" *ngIf="!name.valid && name.touched">***Please enter valid name</span>
            </div>
              <button>Suggest username</button>        
            <div class="form-group">
              <label for="lname">Mail:</label>
              <input type="email" name="email" class="form-control" ngModel required email  #email="ngModel">
              <span class="help-block" *ngIf="!email.valid && email.touched">***Please enter valid email</span>
            </div>

          </div>
          <p *ngIf="!userdata.valid && userdata.touched"> ***User data is invalid!</p>
          
          <div class="form-group">
            <label for="fname">Secret Question:</label>
            <select class="form-control form-select" name="secret" [ngModel]="defaultvalue" required>
              <option value="pet">what's your pet name?</option>
              <option value="teacher">Name of your favourite teacher?</option>
              <option value="firstschool">First school name?</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Textarea"></label>
            <textarea class="form-control" id="Textarea" name="question" rows="4"  ngModel required #textarea="ngModel"></textarea>
          <span class="help-block" *ngIf="!textarea.valid && textarea.touched">***Please enter some text</span>
          </div>
          <div class="form-group" *ngFor="let gender of genders">
            <label></label>
            <input type="radio" name="gender" ngModel [value]="gender" required >{{" "+gender}}
          </div>
          <button class="btn btn-success" [disabled]="!localreferencevariable.valid">submit</button>
        </form>
      </div>
    </div>
  </div>
</div>